// Force Outlook.com to display emails at full width
.ExternalClass
    display block !important
    width 100%

// Forces Outlook.com to display normal line spacing
// More on that: http://www.emailonacid.com/forum/viewthread/43
.ExternalClass
.ExternalClass p
.ExternalClass span
.ExternalClass font
.ExternalClass td
.ExternalClass div
    line-height 100%

//
// Media queries
//

// French specific: Useless media querie to prevent the first media querie to be ignored on LaPoste Mobile web client
@media screen and (max-width: 0)
    body
        margin 0

@media screen and (max-width: 600px)
    // French specific: All properties must set to !important for the first specification to not be ignored on LaPoste, Orange, SFR and Voilà web client
    img
        width 100% !important
        max-width 100% !important
        height auto !important

    .container
        width 95% !important

    // force container columns to (horizontal) blocks
    .force-col
        display block
        padding-right 0 !important


    .separator
        display none


    .col
        // unset table align="left/right"
        float none !important
        width 100% !important

        // change left/right padding and margins to top/bottom ones
        margin-bottom 10px !important
        padding-bottom 10px !important
        border-bottom 1px solid #ebebeb


    // remove bottom border for last column/row
    #last-col-2
    #last-col-3
        border-bottom none !important
        margin-bottom 0


    // align images right and shrink them a bit
    .col-3-img
        float right
        margin-left 5px
        width 130px


    // align images right and shrink them proportionally
    .col-2-img
        float right
        margin-left 5px
        width 45%


// Give content more room on mobile
@media screen and (max-width: 480px)
    .container-inner
        padding-left 10px !important
        padding-right 10px !important


    // return to the above and take all the available space
    .col-2-img
        width 100% !important
